
*{
  margin: 0;
}
body{
  background: black;
  font-size: 20px;
}
.wrapper{
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    flex-direction: column;
  }
  section{
    display: flex;
    flex-flow: row wrap;
  }
header{
 font-family: 'Dancing Script', cursive;
  display: flex;
  justify-content:space-around;
  align-items:center;
  background-color: #5b7989;
  text-align: left;
  color:white;
  text-shadow: 2px 2px 2px #02010a;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
}
#menu-principal a {
	color: white;
  font-size: 25px;
	}

a:hover{
  text-decoration: none;
}
 .columna1
	{
	background-color: #D5F5E3 ;
	width: 100%;
  order: 2;
  flex-grow: 2;
	}
	.columna2
	{
	background-color: #FCF3CF ;
	width: 50%;
  order: 3;
  flex-grow: 1;
	}

	.columna3
	{
	background-color: #FCF3CF ;
	width: 50%;
  order: 4;
 flex-grow: 1;
	}
  .columna4
	{
	background-color: #EAEDED;
	width: 100%;
  order: 5;
  flex-grow: 2;

	}

  @media screen and (min-width: 900px){

  	#wrapper
  	{
  		width: 90%;
  		margin: 0 auto;
  	}
  }



  @media screen and (max-width: 899px){

  #wrapper
  	{
  		width: 100%;
  		margin: 0 auto;
  	}
  	#columna1
  	{
  	width: 100%;
  	}
  	#columna2
  	{
  	width: 100%;
  	}
  	#columna3
  	{
  	width: 100%;
  	}
    #columna4
    {
    width: 100%;
    }
  	header
  	{
  	width:100%;
  	}
  }
